.Product {
    border: 1px solid white;
    border-radius: 24px;
    margin: 10px;
    padding: 10px;
    background-color: #333;
    transition: 0.1s all ease;
}

.Product:hover {
    background-color: white;
    color: black;
}